

.contact{
    height: 100vh;
    @include media("<tablet"){
        height: 500px;
        margin-top: 50%;
     }
     @include media("<phone-medium"){
        height: 1100px;
        margin-top: initial;
        // padding-top: 140px;

     }
    @include flex(center,center,null,null);
    flex-direction: column;
    padding-top: 120px;
    // background-color: red;
    .contact-main{
        @include flex(center,center,null,null);
        @include media("<tablet"){
           flex-direction: column;
        }
        gap: 50px;
        .info{
        //   width: 50%;
        width: fluid(300,400);
          display: flex;
          flex-direction: column;
          gap: 25px;
          .info-type{
            width: fluid(280,400);
            display: flex;
            gap: 20px;
            flex-direction: column ;
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
            h1{
                font-size: fluid(25,30);
                font-weight: 700;
                color: $primary;
                span{
                    color: $sub;
                }
            }
            p{
                font-size: fluid(14,15);
                color: $paragraph-gray;
            }
          }
        }

        .location{
            display: flex;
            flex-direction: column;
            gap: 25px;

            h2{
                font-size: fluid(17,19);
                color: $sub;
                font-weight: 700;
            }

            .add, .tel, .email{
                display: flex;
                // align-items: center;
                gap: 10px;

                .icon{
                    color: $sub;
                    
                }
                h3{
                    font-size: fluid(17,19);
                }
            }
            .tel{
                .num{
                    display: flex;
                    gap: 15px;
                    @include media("<phone-medium"){
                        flex-direction: column;
                     }
                }
            }
        }
        .form{
            // width: 50%;
            background-color: $main;
            border-radius: 20px;
            box-shadow: 0px 4px 8px #00000077;
            form{
                padding: 30px;
                @include flex(center,center,null,column);
                gap: 30px;
                // width: 500px;
                h1{
                font-size: fluid(25,28);
                font-weight: 800;
                text-transform: capitalize;
                color: $light;
                }
                // input,textarea,select{
                //     // padding: 15px 12px 15px 14px;
                //     padding: 15px 30px;
                //     width: fit-content;
                //     border-radius: 25px;
                //     width: 350px;
                //     font-family: $kanit;
                //     outline: none;
                //     background: $dark-gray-50;
                //     border: 1px solid #ccc;
                //     font-size: rem(16);
                //     color: $light;
                //     &::placeholder{
                //         color: $dark-gray;
                //         font-weight: 600;
                //     }
                // }
                
                input,textarea,select{
                    width: fluid(300,400);
                    background-color: #ccc;
                    font-family: $henrysans;
                    padding: 17px;
                    border: 1px solid $light;
                    border-radius: 100px;
                     font-size: fluid(15,16);
                    &:focus{
                        outline-color: $sub;
                        // border: 1px solid $sub;
                    }
                    &::placeholder{
                        color: $main;
                    }
                }
                .submit{
                  background: $sub;
                  color: #fff;
                  border: 1px solid $sub;
                  font-size: rem(15);
                  cursor: pointer;
                }
                .needed{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    h2{
                        margin-left: 15px;
                        color: #fff;
                    }
                }
               .mesage{
                width: 100%;
                @include flex(center, center, null ,null);
                p{
                    margin: 14px 0;
                    color: $light;
                    font-weight: 700;
                }
               
             
             }
            }
        }
    }
}

.Toastify__toast {
    // background: $main;
    color: white;
  }
  
  .Toastify__toast--success {
    background: green;
  }
  
  .Toastify__toast--error {
    background: red;
  }
  
  .Toastify__progress-bar {
    background: $main
  }