
.footer{
    // margin-top: 40px;
    overflow: hidden;
    width: 100%;
    @include media("<tablet"){
        padding-top: 280px;
    }
    @include media("<phone-medium"){
        padding-top: initial;
    }
    

    .schedule{
        position: relative;
        // background-color: $main;
        .schedule-main{
            position: relative;
            top: 150px;
            z-index: 9;
            // bottom: 40px;
            background-color: $sub;
            display: flex;
            justify-content: space-between;
            @include media("<tablet"){
                flex-direction: column;
                height:100vh ;
                justify-content: center;
            }
            height: 350px;
            border-radius: 25px;
           overflow: hidden;
            .contact-footer{
                padding: 40px;
                @include flex(null ,null , null, column);
                @include media("<tablet"){
                  justify-content: center; 
                  align-items: center;
                  height: 43vh;
                }
                @include media("<phone-medium"){
                   height: 50vh;
                }
                gap: 50px;
                .text-footer{
                    padding-top: 20px;
                    // width: 400px;
                    h2{
                        font-family: $kanit;
                        font-size: fluid(20,40);
                        font-weight: 700;
                        margin-bottom: 20px;
                        line-height: fluid(35,50);
                        color: $light;
                        width: fluid(220,350);
                        @include media("<tablet"){
                            width: initial;
                            text-align: center;
                            // background-color: red;
                         }
                         @include media("<phone-medium"){
                            // width: initial;
                            width: fluid(220,225);
                            text-align: initial;
                         }
                    }
                    p{
                        font-size: fluid(14,15);
                        color: $light;
                    }
                }
                .btn-footer{
                   display: flex; 
                   gap: 20px;
                   @include media("<phone-medium"){
                    flex-direction: column;
                    text-align:center ;
                    align-self: flex-start;
                 }
                   a{
                    padding: rem(12) rem(23);
                    background-color: $light;
                    border-radius: 25px;
                    color: $main;
                    // font-weight: 600;
                    box-shadow: 0px 4px 8px #0000004d;
                    &.con{
                        background-color: $main;
                        color: $light;
                    }
                   }
                }
            }
            .map{
                height: 60vh;
                width: 50%;
                @include media("<tablet"){
                    width: 100%;
                }
                @include media("<phone-medium"){
                    height: 50vh;
                 }
                iframe{
                    height: inherit;
                     width: 100%;
                }
            }
        }
    }

    .footer-content{
      height: 400px;
      position: relative;
      bottom: 0;
      background-color: $main;
      .footer-main{
         @include flex(end,center,null,column);
         position: relative;
         bottom: 10px;
        height: inherit;
          gap: 30px;
          .footer-nav{
            display: flex;
            flex-direction: column;
            gap: 15px;
             ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                @include media("<phone-medium"){
                    gap: 20px;
                 }
                 gap: 40px;
                 li{
                    a{
                        font-size: fluid(15,17);
                        color: $light;
                        text-transform: capitalize;
                        transition: 0.2s ease-in-out;
                        &:hover{
                            color:$sub ;
                        }
                    }
                 }
             }
          }
          .social{
            display: flex;
            gap: 30px;
            color: $sub;
           a{
            transition: 0.2s ease-in-out; 
            &:hover{
                color:$light;
            }
           }
          }
          .reserve{
            p{
                font-size: fluid(12,14);
                color: $dark-gray;
            }
          }
      }
    }
    
}