

.header{
    padding: fluid(13,14) 0;
    background-color: $main;
    @include media(">tablet"){
        background-color: $light;
    }
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    @include media("<phone-medium"){
        padding: 6px 0;
    }

    &.bg-reveal{
      background-color: #fff;
      transition: 0.25s ease-in-out;
        .logo{
            img{
                &.light{
                    display: block;
                    
                }
                &.dark{
                    display: none;
                }
            }
        }
        .nav{
            ul {
                &.line{
                    border-left: 1px solid $main;
                    
                }
                li{
                    a{
                        color: $main;
                    }
                }
            }
        }
        
        .mobile{
            color: $main;
        }
    }
}
.main{
    @include flex(space-between , center, null , null)
}

.head{
    position: relative;
    @include flex(null , center , null , null);
    gap: rem(60);
    
    .logo{
        z-index: 99;
        position: relative;
        img{
            width: fluid(135, 150);
            &.light{
                display: none;
                @include media(">tablet"){
                    display: block;
                }
            }
            &.dark{
                @include media(">tablet"){
                    display: none;
                }
            }
        }
        
       
    }
    .nav{
        transform: translate(0px);
        transition: .25s ease-in-out;
        overflow: hidden;
        position: relative;
        @include media(">tablet"){
            overflow: hidden;
            
        }


        &.active{
            transform:translate(0px);
           
            
        }

        @include media("<tablet"){
            transform: translateX(-2000px);
            position: fixed;
            width: 100%;
            overflow: hidden;
            background-color: $light;
            padding-top: fluid(150, 155);
            top: 0;
            left: 0;
            bottom: 0;
            overflow: hidden;
            height: 100dvh;
            height: 100vh;
            
        }

        ul{
           padding: 4px 0;
           @include media("<tablet"){
            align-items: center;
            flex-direction: column;
           }
           &.list-mobile{
            @include media(">tablet"){
                display: none;
            }
       
           }
           &.list{
            @include media("<tablet"){
                display: none;
            }
        }
            &.line{
                padding-left: fluid(20, 40);
                border-left: 1px solid $light;
                @include media(">tablet"){
                    border-left: 1px solid $primary;
                }
                @include media("<tablet"){
                    padding-left: initial;
                    border-left: initial;
                }
            }
            
            display: flex;
            gap: rem(40);

            li{
                overflow: hidden;
                a{
                    text-transform: capitalize;
                    font-size: fluid(14,16);
                    @include media("<tablet"){
                        text-transform:capitalize;
                        font-size: rem(17);
                    }
                    color: $light;
                    @include media(">tablet"){
                        color: $main;
                    }
                    &:hover{
                        transition: .5s ease-in-out;
                        color: $orange;
                    }
                }
            }
        }
    }

    
}

.mobile{
    display: none;
    color: #fff;
    @include media("<tablet"){
        display: block;
    }
}
