.services{
    position: relative;
    // padding-top: rem(70);
    background-color: $main;
    margin-top: 40px;

    .serve{
        padding: rem(120) 0;
      @include flex(center, center,null,column);
        .serv-text{
          text-align: center;
          font-size: fluid(25,30);
          text-transform: capitalize;
          font-weight: 700;
          margin-bottom: 50px;
          color: #fff;

        }
        

        .wrap-serve{
            display: flex;
            flex-wrap: wrap;
             position: relative;
             width: 70%;
             position: relative;
             @include media("<tablet"){
                width: 100%;
                justify-content: center;
             }
            

             margin: auto;
             padding: 0 20px;
             gap: 30px;
            .services-main{
                display: flex;
                align-items: center;
               width: fluid(320,400);
               margin: auto;
              // justify-content: center;
               height: 120px;
               background: $bord-card;
               border-radius: 25px;
               padding: 14px;
               gap: 30px;
               .ico{
                background-color: $sub;
                height: 60px;
                width: fluid(70,80);
                @include flex(center,center,null,null);
                border-radius : 10px;
                color: $light;
               }
               
             }
             .services-card{
                display: flex;
                flex-direction: column;
                gap: 15px;
                color: $light;
                h1{
                    font-weight: 700;
                    font-size: fluid(16,18);
                    @include media("<tablet"){
                     line-height: 20px;
                   }
                }
                p{
                    font-size: fluid(13,15);
                    line-height: rem(23);
                }
             }
        }
    
        
    }
}

