

.solar-show{
    width: 100%;
    padding-top: 80px ;

    
    

    .solarshow-main , .two{
        display: flex;
        //  margin-top: 80px;
        //  background-color: $main;
         height: 380px;
         width: 100%;
         @include media("<tablet"){
            flex-direction: column;
            width: 100%;
        }
        @include media("<phone-medium"){
           display: none;
        }

        .sol{
            display: flex;
            height: 380px;
            width: 50%;
            background-color: $main;
            @include media("<tablet"){
                width: 100%;
                &.solar-second{
                    flex-direction: row-reverse;
                }
            }
            // @include media("<phone-medium"){
            //    width:100%;
            //    flex-direction: column;
            //    background-color: $main;
            //    &.solar-second{
            //     flex-direction: column-reverse;
            // }
            // }

            .img-solar{
                height:inherit;
                width: 50%;
                @include media("<phone-medium"){
                    width:100%;
                 }
             
                  
                  img{
                    width: 100%;
                    height:inherit ;
                   object-fit: cover;
                    object-position: center;
                }
            }
            .text-solar{
                width: 50%;
                @include media("<phone-medium"){
                    width:100%;
                    background-color: $main;
                 }
                display: flex;
                gap: 25px;
                // flex-wrap: wrap;
                flex-direction: column;
                padding: 80px 30px;
                color: $sub;

                h1{
                    font-size: fluid(20,20);
                    font-weight: 800;
                    
                    
                
                }
                p{
                    color: $primary-light;
                    font-size: fluid(14,15.5);
                    height: 100px;
                }
                .icon-solar{
                    width: 40px;
                    height: 40px;
                    @include flex(center,center,null,null);
                    border-radius: 100%;
                    background-color: $sub;
                    color: $light;
                    display: none;
                }
            }
        }
    }

    
    .two-solar{
        // display: none;
        @include media("<tablet"){
            flex-direction: column;
            width: 100%;
        }
        width: 100%;
        .sol{
            flex-direction: row-reverse;
            @include media("<tablet"){
                 
                &.solar-second{
                    flex-direction: initial;
                }
            }

        }
    }
}

.solar-show-mobile{
    width: 100%;
    padding-top: 130px ;
    @include media(">phone-medium"){
        display: none;
    }

    .solarshow-main{
        // height: 300px;
        width: 100%;
        .sol{
        background: $main;
        .img-solar{
            height: 300px;
                   
               width: 100%;
              img{
                height:inherit ;
                width: 100%;
               object-fit: cover;
                object-position: center;
            }
        }
        .text-solar{
            
            display: flex;
            gap: 20px;
            // flex-wrap: wrap;
            flex-direction: column;
            padding: 80px 30px;
            color: $sub;

            h1{
                font-size: fluid(20,20);
                font-weight: 800;
                
                
            
            }
            p{
                color: $primary-light;
                font-size: fluid(14,15.5);
                height: 80px;
            }
            .icon-solar{
                width: 40px;
                height: 40px;
                @include flex(center,center,null,null);
                border-radius: 100%;
                background-color: $sub;
                color: $light;
                display: none;
            }
        }
        }
    }
}