
.welcome-home{
    position: relative;
    padding: fluid(80,80) 0;
    @include media("<desktop-small"){
        padding: 90px 0;
        }
    background-image: linear-gradient(180deg, #1d1d1d 46%, #ff6c2e);
  
}


.welcome-main{
    padding-top: rem(90);
    display: flex;
    width: 100%;
    overflow: hidden;
   
    gap: rem(2);
    @include media("<desktop-small"){
    flex-direction: column;
    padding-top: rem(48);
    gap: rem(10);
    }
    @include media("<phone-medium"){
        padding-top: rem(30);
        
        }
    .left{
       
        @include flex(null, null, null, column);
        gap: rem(20);
        width: 50%;
        @include media("<desktop-small"){
            text-align: center;
            width: 100%;
            // background-color: red;
            justify-content: center;
            align-items: center
        }
       .left-main{
          @include flex(null, null, null, column);
          gap: rem(20);
          @include media("<tablet"){
            gap: rem(25) ;
        }
          .typo{
            h1{
             font-size: fluid(30,55);
             color: $light;
             font-weight: 700;
             text-transform: capitalize;
             font-family: $kanit;
                line-height: fluid(35,65);
                // margin-bottom: rem(30);
                padding-top: fluid(10,20);
                width: fluid(300,480);
                margin: auto;
           
            @include media(">desktop-small"){
                margin: initial;
             }
              
            }
            p{
             line-height: 25px;
              font-size: fluid(16,18);
              width: fluid(300,480);
              color: $primary-light;
              margin: auto;
              padding-top: fluid(20,25);
              @include media(">desktop-small"){
                margin: initial;
             }
            }
          }

          .btn{
            
            margin-top: 20px;
            @include flex(null, null, null, null);
            gap: rem(20);
            @include media("<desktop-small"){
                 width: 100%;
                 justify-content: center;
            }
            button, a{
                padding: 11px fluid(20,30);
                background-color: #ff6c2e;
                @include flex(center, center,null,null);
                border-radius: 25px;
                color: $light;
                border: 1px solid transparent;
                transition: 0.25s ease-in-out;
                margin-bottom: rem(50);
                &.contact{
                 &:hover{
                    color: $orange;
                    background: transparent;
                 }  border: 1px solid $orange;

                  
                }
                &.explore{
                    background: transparent;
                    border: 1px solid $light;
                    &:hover{
                        border: 1px solid $orange;
                        
                     }  
                      
                }
            }
          }


       }

       .img-main{
        @include media("<desktop-small"){
            display: none;
        }
          .img-card{
             height: 400px;
             width: fluid(450,550);
             border-radius: 20px;
             
              
             position: relative;
             img{
                height: inherit;
                width: inherit;
                object-fit: cover;
                object-position: 80% 40%;
                border-radius: inherit;
                position: relative;
             }
             .card{
                height: 260px;
                width: 180px;
                position: absolute;
                top: 30px;
                padding: 20px;
                left: 20px;
                border-radius: 20px;
                backdrop-filter: 20px;
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
                background-color: $dark-blur;
                color: $light;
                @include flex(center, null, null, column);
                gap: rem(13);
                .one{
                    h4{
                        font-size: rem(25);
                        margin-bottom: 5px;
                        font-weight: 700;
                    }
                    p{
                        font-size: rem(15);
                    }
                }
              }
          }
          
       }
    }
    .right{
      
        .img-cover{
            @include media("<desktop-small"){
                display: none;
            }
            width: fluid(450,550);
           height: 100vh;
        //    width: 550px;
           img{
            height: 775px;
            width: inherit;
            object-fit: cover;
            border-radius: 20px;
           }
        }

        .img-cover-mobile{
            display:flex;
            @include media(">desktop-small"){
                display: none;
            }
            @include media("<phone-medium"){
                flex-direction: column;
               }
            gap: rem(20);
            .card-one{
                width: 50%;
                @include media("<phone-medium"){
                    width: 100%;
                    margin: auto;
                    @include flex(center,center,null,null)
                   }
                img{
                    height: auto;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 20px;
                    @include media("<phone-medium"){
                        // max-width: 100%;
                        width: 100%;
                        height: 520px;
                         margin: auto;
                        }
                }
            }
            .card-two{
                width: 50%;
                @include media("<phone-medium"){
                    width: 100%;
                    
        
                   }
                .img-card{
                    height: 100%;
                    position: relative;
                    @include media("<phone-medium"){
                    //    width: 345px;
                      max-width: 100%;
                       height: 520px;
                        margin: auto;
                       }
                    img{
                        position: relative;
                        height: inherit;
                        width: inherit;
                        object-fit: cover;
                       object-position: center;
                       border-radius: 20px;
                    }
                    .card{
                        height: 260px;
                        width: 180px;
                        position: absolute;
                        top: 30px;
                        padding: 20px;
                        left: 20px;
                        border-radius: 20px;
                        backdrop-filter: 20px;
                        -webkit-backdrop-filter: blur(5px);
                        backdrop-filter: blur(5px);
                        background-color: $dark-blur;
                        color: $light;
                        @include flex(center, null, null, column);
                        gap: rem(13);
                        .one{
                            h4{
                                font-size: rem(25);
                                margin-bottom: 5px;
                                font-weight: 700;
                            }
                            p{
                                font-size: rem(15);
                            }
                        }
                      }
                }
            }

        }
    }
}